.menu {
    list-style-type: none;
    margin: 0;
    padding: 6px 24px;
    overflow: hidden;
    background-color: #45516b;
    border-radius: 2em;
    min-width: 180px;
}

.menu__item {
    float: left;
}

.menu__item.active .menu__item__link {
    color: #45516b;
}

.menu__item__link {
    display: block;
    padding: 0.5em 0;
    color: white;
    cursor: pointer;
    width: 130px;
    text-align: center;
}

.menu__sliding-marker {
    width: 130px;
    height: 34px;
    background-color: white;
    color: #45516b;
    border-radius: 1em;
    transition: .3s ease-in-out;
}